@model IEnumerable<CustomCar.Item>

@{
    ViewBag.Title = "Item";
}

<h2>Item</h2>

<p>
    @Html.ActionLink("Create New", "CreateItem", new { idService = ViewBag.service }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditItem", new { idItem = item.IDItem }, new { @class = "btn btn-primary " })
                @Html.ActionLink("Delete", "DeleteItem", new { idItem = item.IDItem }, new { @class = "btn btn-danger " })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Service", "Service", new { idCar = ViewBag.car }, new { @class = "btn btn-primary" })
</div>
